@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background-color: #171719;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

h1 {
  margin-bottom: 0;
}

.main {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
}

.main-content {
  display: flex;
}

.link {
  transition: all 0.1s;
}
.link:hover {
  opacity: 0.8;
}
