.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  bottom: 0;
  z-index: 101;
  background-color: rgba(11, 11, 12, 0.6);
}

.player__info {
  display: flex;
  align-items: center;
  margin-left: 16px;
  flex: 1;
  /* width: 100%; */
}

.player__img {
  width: 63px;
  width: 63px;
}

.player__name {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
}

.player__name-innerwrap {
}

.player__name-link {
  transition: all;
}
.player__name-link:hover {
  color: #fc0;
}

.player__artists {
}

.player__artists-link {
  color: #fcfcfca6;
  transition: all;
}
.player__artists-link:hover {
  color: #fc0;
  text-decoration: underline;
}

.player__instr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  flex: 1;
}

.player__instr-inner {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.progress-player {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.time {
  margin-bottom: 0;
  font-size: 14px;
  opacity: 0.6;
  width: 40px;
}

.time-right {
  margin-left: 10px;
}

.time-left {
  margin-right: 10px;
}

.timeline {
  background-color: #4c4e54;
  border-radius: 999px;
  width: 500px;
  height: 4px;
  cursor: pointer;
}

.playButton {
  border: none;
  outline: none;
  background-color: transparent;
}

.player__settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  /* width: 100%; */
}

.player__settings-img {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}
