.profile {
  margin-top: 32px;
  margin-left: 32px;
}

.profile__container {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.profile__img {
  font-weight: 700;
}

.profile__info {
  margin-left: 40px;
}

.profile__name {
  color: #fff;
  font-size: 24px;
}

.profile__nick {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

.profile__btns {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__btn {
  margin-bottom: 28px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.1s;
}
.profile__btn:last-child {
  margin-bottom: 0;
}
.profile__btn:hover {
  opacity: 0.7;
}

.profile__btn-grey {
  color: rgba(255, 255, 255, 0.65);
}

.profile__btn-red {
  color: rgba(255, 0, 0, 0.65);
}

.profile__modal {
}

.modal-content {
  border-radius: 15px;
  background: #212124;
}

.profile__modal-body {
}

.profile__modal-group {
  margin-bottom: 26px;
}
.profile__modal-group:last-child {
  margin-bottom: 0;
}

.profile__modal-label {
  margin-bottom: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.profile__modal-input {
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  width: 440px;
  outline: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #ced4da);
  background: var(--gray-white, #fff);
}

.profile__modal-footer {
}

.profile__modal-btn {
}
